@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --maincolor: #f8c0bd;
}
.section-main {
    background-size: cover;
    background-image: url(/resource/img/001-fundo-tranparent50.png);
}
.section-nav {
    background-color: #ff3c1a;
    text-decoration: none;
    padding: 5px;
    color: #0c194e;
}
.section-nav ul{
    text-decoration: none;
}
.section-nav a {
    text-decoration: none;
    color: #fff;
}
.nav_ul li a {
    text-decoration: none;
    color: #0c194e;
    padding: 3px;
}
.logo_nav {
    font-size: 20px;
    letter-spacing: 5px;
    color: #fff;
}
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Unica One', cursive;
    background-color:  #ff3c1a;
    width: 9vh;
    height: 100vw;
}
.nav_ul {
    list-style: none;
    display: flex;
}
.nav_ul li {
    letter-spacing: 5px;
    margin-left: 30px;
    padding: 5px;
}
.nav_menu {
    width: 35px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.5s;
    display: none;
    cursor: pointer;
}
/* ------------- MAIN ------------- */

body {
    font-family: 'Righteous', cursive;
    background: var(--maincolor);
    color: #0c194e;
    overflow-x: hidden;
}
.description1 {
    height: 90vh;
    display: flex;
    width: 75vh;
    align-items: center;
    justify-content: center;
    margin-left: 12vw;
}
.background-photo {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    padding: 20px;
}
.backgorund-photo img {
    width: 400px;
    height: 400px;
    margin: 100px 0;
    object-fit: cover;
    z-index: -1;
}
.text-desc {
    width: 100%;
    flex-basis: 50%;
    padding: 15px 35px 0 20px;
}
